.half-width{
    display:flex;
    justify-align-items:center;
   
}
.half-width img{
    width:500px;
}
.fa-quote-right{
    font-size:80px;
    color:grey;
}
.fa-star, .fa-star-half-stroke{
    color:gold;
    display:end;
}

.container img{
    height:auto;
    width:100px
}
